/* #00B2CA */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */
*{
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}
#main__window,
#new__user__window,
#dashboard_window,
#signup__window,
#confirm_delete_form {
  background-color: #031d35;
  font-weight: 600;
  color: white;
}

#users__vbox
/* #dashboard__vbox  */
{
  background-color: #112131;
  border-radius: 2%;
}


#new_user_description_box{
  background-color: aqua;
  border: 4px solid green;
}
#new__user__inputs__vbox {
  padding-top: 240px;
  background-color: #112131;
  border-radius: 2%;
  /* padding-top: -300; */
}

#add__user__button,
/* #new__user__back, */
#new__user__submit,
#dashboard__details_button,
#signup__submit {
  background-image: none;
  background-color: #084475;
    /* background-color: #0777d3; */
  border: none;
  color: white ;
}

#add__user__button:hover,
/* #new__user__back:hover, */
#new__user__submit:hover,
#dashboard__details_button:hover,
#signup__submit:hover {
  color: black;
  animation: toWhite 2s ease forwards;
}

#quit__button,#user_delete_button,
#dashboard__back_button,
#signup__cancel,
#new__user__back {
  background-color: rgb(196, 10, 10);
  background-image: none;
  border: none;
  color: black;
}

#quit__button:hover,
#dashboard__back_button:hover,
#user_delete_button:hover ,
#signup__cancel:hover,
#new__user__back:hover{
  /* color: white; */
  animation: toRed 2s ease forwards;
}

#signup__description_label,
#new_user_description_label,
#welcome_description_label{
  font-size: 2rem;
  font-weight: 800;
}

#user_hbox{
    /* box-shadow: 2px -6px 19px 13px rgba(0, 0, 0, 0.75); */
    padding: 10;
    border-radius: 10;
    box-shadow: 0px 11px 27px 5px rgba(0, 0, 0, 0.66);
}

#users_vbox>*{
  background-color: rgb(11, 52, 85);
}


#description_hbox,
#signup__description__hbox{
  font-size: 2rem;
  border-bottom: .2px solid white;
}

#select__button{
  transition: all 1s ease ;
}
#select__button:hover{
  background-color: #0777d3;
  background-image: none;
  border: none;
}
#TEST{
  /* background-color: rgb(216, 206, 206); */
  /* padding: 40; */
}


#dashboard__left__vbox{
  background-color: rgb(209, 209, 209);
  border-radius: 3%;
}

#selected_user_hbox{
  /* padding-left: 300; */
  padding: 20 50;
  border-radius: 20;
  background-color: rgb(3, 22, 58);
  box-shadow: 2px -6px 19px 13px rgba(0, 0, 0, 0.75);
}
#selected_user_hbox>*{
  font-size: 3rem;
  font-weight: 800;
  color:#b3dcfd ;
}

#dashboard_sold_vbox{
  border: 1px solid white;
}
/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */

#signup__vbox
{
  border-radius: 10;
  background-color: rgb(3, 22, 58);
  box-shadow: 2px -6px 19px 13px rgba(0, 0, 0, 0.75);
}


#signup__user__hbox,
#signup__password__hbox,
/* #signup__description__hbox, */
#signup__buttons__hbox{
  /* background-color: #fff; */
  border-radius: 5;
  border: 4px solid white;
}

/* dashboard */
#info__solde__hbox
{
  /* border: 4px solid red; */
  /* padding: 30; */
}

#info__categories__hbox{
    padding: 30;
    border-radius: 30;
    background-color: rgb(3, 22, 58);
    box-shadow: 2px -6px 19px 13px rgba(0, 0, 0, 0.75);
}

#total__depenses__box,
#total__income__box,
#date__box,
#economy__box{
    border-radius: 30;
    background-color: rgb(3, 22, 58);
    box-shadow: 2px -6px 19px 13px rgba(0, 0, 0, 0.75);
    transition: all 1s ease;
}
#total__income__box>*,
#total__depenses__box>*,
#economy__box>*{
  font-size: 1.5rem;
}

#date__box{
  padding: 20 0;
}

#date__box>*{
  font-size: 2rem;
}

#total__depenses__box:hover,
#total__income__box:hover {
  box-shadow: 2px -6px 19px 13px rgba(255, 255, 255, 0.75) !important;
  border: 3px solid red;
}


#income__detail,
#depenses__detail{
  transition: all 2s ease;
  color: white;
  background-color: #084475;
  background-image: none;
  border: none;
}
#income__detail:hover,
#depenses__detail:hover{
  background-color: #092e4d;
}


@keyframes toWhite {
  to {
    background-color: white;
  }
}
@keyframes toRed {
  to {
    background-color: rgb(255, 0, 0);
    color: white;
  }
}/*# sourceMappingURL=style.css.map */